.App {
  min-height: 100%;
  margin-bottom: -$footer-mobile-height;

  &:after {
    content: "";
    display: block;
    height: $footer-mobile-height;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .App {
    margin-bottom: -$footer-desktop-height;

    &:after {
      height: $footer-desktop-height;
    }
  }
}