/** @define Avatar */

.Avatar {
  position: relative;
  width: 100%;
  margin: 10px 0;

  text-align: center;

  &-wrapper {
    position: relative;
    width: $avatar-size;
    height: $avatar-size;
    margin: 0 auto;

    background-image: url('https://worldofwarcraft.com/static/components/Avatar/Avatar-gold-353c47772e.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &-picture {
    position: absolute;
    bottom: $avatar-size * .12;
    left: $avatar-size * .11;
    right: $avatar-size * .11;
    top: $avatar-size * .10;

    display: block;
    width: $avatar-size - ($avatar-size * .11) - ($avatar-size * .11);
    height: $avatar-size - ($avatar-size * .12) - ($avatar-size * .10);

    background-size: cover;
    border: 1px solid $base-background;
    border-radius: 50%;
  }

  &-faction {
    position: absolute;
    bottom: $avatar-size * .1;
    left: 50%;

    width: $avatar-size * .4;
    height: $avatar-size * .4;
    padding: 3px;
    margin-left: -$avatar-size * .5;
    margin-bottom: -$avatar-size * .1;

    background: $base-background;
    border: 2px solid $base-border;
    border-radius: 50%;
  }

  &--horde {
    background: $color-horde;
    fill: $black;
  }

  &--alliance {
    background: $color-alliance;
    fill: $gold;
  }
}
