/** @define Builder */

.Builder {
  width: calc(100% - 10px) !important;
  max-width: 270px;

  text-align: center !important;

  &-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &-logo {
    width: 192px * .5;
    height: 192px * .5;
    margin-bottom: 30px;
  }

  &-info {
    margin: 10px 0;

    text-align: left;
  }

  &-item {
    display: inline-block;
    width: auto;
    padding: 10px 0;

    text-align: left;

    clear: both;

    &.is-error {
      color: $red;
    }

    &.is-success {
      color: $green;
    }
  }

  // &.is-complete {
  //   display: none;
  // }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Builder {
    font-size: 16px;
    max-width: 450px;

    &-title {
      font-size: 32px;
    }
  }
}
