/** @define Builder */

.Builder {
  width: calc(100% - 10px) !important;
  max-width: 450px;

  background-color: $base-background;

  &-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &-logo {
    width: 192px * .5;
    height: 192px * .5;
    margin-bottom: 30px;
  }

  &-item {
    display: inline-block;
    width: auto;
    padding: 5px 10px;

    text-align: left;

    clear: both;

    &.is-error {
      color: $red;
    }

    &.is-success {
      color: $green;
    }
  }

  &.is-complete {
    display: none;
  }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Builder {
    font-size: 16px;

    &-title {
      font-size: 32px;
    }
  }
}