/** @define Builder */

.Builder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: order('modal');

  display: table;
  width: 100%;
  height: 100%;
  
  color: $base-color;
  font-family: $title-font-stack;
  font-size: 12px;
  font-weight: 700;

  background: $base-background;

  transition: top;
  transition-duration: $animation-duration * 3;
  transition-delay: 2s;

  &-wrapper {
    display: table-cell;

    text-align: center;
    vertical-align: middle;
  }

  &-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &-logo {
    width: 192px * .5;
    height: 192px * .5;
    margin-bottom: 30px;
  }

  &-item {
    display: inline-block;
    width: auto;
    padding: 5px 10px;

    clear: both;

    &.is-error {
      color: $red;
    }

    &.is-success {
      color: $green;
    }
  }

  &.is-complete {
    top: -100%;
  }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Builder {
    font-size: 16px;

    &-title {
      font-size: 32px;
    }
  }
}