/** @define CharacterAttributes */

.CharacterAttributes {
  float: left;
  width: 100%;
  padding: 10px 0;

  font-size: 12px;
  text-align: left;

  &--right {
    text-align: right;
  }

  &-item {
    float: left;
    width: 100%;
    padding: 10px 0;
  }

  &-label,
  &-value {
    position: relative;
    display: inline-block;

    vertical-align: middle;
  }

  &-label {
    float: left;
    max-width: calc(100% - 45px);

    color: $white;
  }

  &-value {
    float: right;
    padding-left: 10px;

    font-weight: 500;
    text-align: right;
  }
}