/** @define Character */

.Character {
  position: relative;
  float: left;

  width: 270px;
  margin: 5px;

  text-align: left;

  &-title {
    font-size: 20px;
    font-weight: normal;
  }

  &-filters {
    padding: 20px 0;
    
    text-align: left;

    & > * {
      margin: 10px 0;
    }
  }

  &-header {
    margin-bottom: 20px;

    &.is-loading {
      // CharacterActions height
      margin-top: 47px;
      text-align: center;
    }
  }

  &-appearance {
    position: relative;
    z-index: order('background');

    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: -40px;

    background-size: 200%;
    background-position: bottom;
  }

  &-factionLogo {
    position: absolute;
    top: 10px;
    left: 10px;

    width: auto;
    height: 75px;
  }

  &-placeholder {
    width: $avatar-size;
    height: $avatar-size;
    margin-bottom: 20px;
  }

  &-name {
    font-family: $title-font-stack;
    font-size: 14px;
    font-weight: 700;
  }

  $icon-size: 20px;
  &-links {
    display: inline-block;
    height: $icon-size;
    margin: 0 5px;

    line-height: $icon-size;
    vertical-align: text-bottom;
  }

  &-link {
    display: inline-block;
    width: $icon-size;
    height: 100%;
    margin: 0 5px;

    color: $btn-color;
  }

  &-linkIcon {
    width: 100%;
    fill: currentColor;
  }

  &-spec {
    display: block;

    line-height: 16px;

    &.is-equal {
      color: $green;
    }

    &.is-different {
      color: $red;
    }
  }

  &-specIcon {
    height: 14px;
    margin-right: 5px;
  }

  &-specName {
    height: 20px;
    line-height: 20px;
    vertical-align: text-bottom;
  }

  &-lastUpdate {
    font-size: 14px;
  }

  &-lastUpdateLabel {
    margin-right: 10px;
    color: $btn-color-disabled;
  }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Character {
    &-name {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Character {
    margin: 10px;

    &-name {
      font-size: 20px;
    }
  }
}