/** @define Character */

.Character {
  position: relative;
  float: left;

  display: inline-block;
  width: calc(50% - 10px);
  max-width: 400px;
  padding: 10px;
  margin: 5px;

  text-align: center;

  background-color: rgba($base-background, .7);
  border-radius: 5px;

  &-title {
    font-size: 20px;
    font-weight: normal;
  }

  &-filters {
    padding: 0 10px;
    margin-top: 10px;
    
    text-align: left;

    * {
      margin: 10px 0;
    }
  }

  &-header {
    & > * {
      margin-bottom: 5px;
    }
  }

  &-name {
    font-family: $title-font-stack;
    font-weight: 700;
  }

  &-spec {
    display: block;
    line-height: 16px;

    &.is-equal {
      color: $green;
    }

    &.is-different {
      color: $red;
    }
  }

  &-specIcon {
    height: 14px;
    margin-right: 5px;
  }

  &-specName {
    height: 20px;
    line-height: 20px;
    vertical-align: text-bottom;
  }
}


@media screen and (min-width: breakpoint('tablet')) {
  .Character {
    width: calc(50% - 40px);
    padding: 20px;
    margin: 20px;
  }
}