/** @define CharacterAttributes */

$icon-size: 32px;
.CharacterAttributes {
  float: none !important;
  width: 100%;
  padding: 10px 0;

  color: $white;
  font-size: 12px;
  text-align: left;

  &--right {
    text-align: right;
  }

  &-item,
  &-label,
  &-icon,
  &-valuesWrapper,
  &-value {
    position: relative;

    display: inline-block;
    height: $icon-size;

    vertical-align: middle;
  }

  &-item {
    position: relative;

    width: 100%;
    margin: 10px 0;
  }

  &-label {
    max-width: calc(100% - 45px);
  }

  &-icon {
    width: $icon-size;
    margin-right: 10px;

    fill: currentColor,
  }

  &-valuesWrapper {
    position: absolute;
    right: 0;

    padding-top: 5px;
  }

  &-value {
    padding-left: 10px;

    font-weight: 500;
    text-align: right;
    color: $gold;
  }
}