/** @define Collapsable */

.Collapsable {
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;

  &-head {
    position: relative;
    width: 100%;
    padding: 20px 0;

    color: $white;
    font-size: 13px;
    text-align: left;

    cursor: pointer;
  }

  &-title {
    color: inherit;
    font-size: inherit;
    text-align: inherit;
  }

  &-body {
    overflow: hidden;
    max-height: 0;
    padding: 0 20px;

    font-size: 11px;

    background-color: $base-background;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid $content-border;
    transition: max-height $animation-duration;
  }

  &-icon {
    position: absolute;
    top: 20px;
    right: 0;

    display: block;
    width: 16px;
    height: 16px;
    opacity: .5;
    transition: transform $animation-duration;

    &:before,
    &:after {
      position: relative;
      display: block;
      width: 15px;
      height: 3px;

      background: $white;
      content: "";
      transition: width $animation-duration;
    }

    &:before {
      top: 7px;
    }

    &:after {
      top: 4px;
      transform: rotate(90deg);
    }
  }

  &.is-open {
    .Collapsable {
      &-body {
        max-height: 1000px;
      }

      &-icon {
        transform: rotate(90deg);

        &:before {
          width: 0;
        }
      }
    }
  }

  &.is-disabled {
    .Collapsable-head {
      cursor: default;
    }
  }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Collapsable {
    &-head {
      font-size: 14px;
    }

    &-body {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Collapsable {
    &-head {
      font-size: 18px;
    }

    &-head {
      font-size: 14px;
    }
  }
}
