/** @define Footer */

.Footer {
  position: relative;
  float: left;

  width: 100%;
  padding: 20px;

  font-size: 11px;
  text-align: center;

  &-left,
  &-right {
    width: 100%;
    padding: 10px 20px;
  }

  &-link {
    padding: 5px 0;
  }

  p {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: breakpoint('tablet')) {
  .Footer{
    font-size: 13px;

    &-left,
    &-right {
      width: auto;
    }

    &-left {
      float: left;
      text-align: left;
    }

    &-right {
      float: right;
      text-align: right;
    }

    &-link {
      display: inline-block;

      padding: 0 5px;
      border-right: 1px solid $link-color;

      &:nth-last-of-type(1) {
        padding-right: 0;
        border-right: none;
      }
    }

  }
}