/**  @define Header */

.Header {
  &-bar {
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    z-index: order('header');

    width: 100%;
    height: $header-mobile-height;
    padding: 5px;

    font-family: $title-font-stack;
    font-size: 16px;
    font-weight: 700;

    background-color: $header-background;
  }

  &-info {
    float: left;
  }

  &-logo,
  &-menu,
  &-label {
    position: relative;
    float: left;
    height: #{$header-mobile-height - 10px};
  }

  &-logo,
  &-menu {
    display: none;
    height: $header-mobile-height - 10px;
    padding: 5px;
  }

  &-logo {
    display: none;
  }

  &-logo {
    padding: #{($header-desktop-height - $header-mobile-height) / 2};
  }

  &-menu {
    display: inline-block;
  }

  &-label {
    display: inline-block;
    padding-left: 10px;

    line-height: #{$header-mobile-height - 10px};
    vertical-align: middle;
  }

  &-share {
    float: right;

    text-align: right;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Header {
    &-bar{
      left: $sidebar-width;
      width: calc(100% - #{$sidebar-width});
      height: $header-desktop-height;
    }

    &-logo,
    &-menu,
    &-label {
      height: #{$header-desktop-height - 10px};
    }

    &-logo,
    &-menu {
      width: #{$header-desktop-height - 10px};
    }

    &-logo {
      display: inline-block;
    }

    &-menu {
      display: none;
    }

    &-label {
      line-height: #{$header-desktop-height - 10px};
    }
  }
}
