/** @define Share */

$icon-mobile-height: 32px;
$icon-desktop-height: 48px;

.Share {
  height: #{$header-mobile-height - 10px};
  padding-top: #{($header-mobile-height - 10px - $icon-mobile-height) / 2};

  &-button {
    height: $icon-mobile-height;
    width: $icon-mobile-height;
    padding: 5px;
  }

  &-buttonIcon {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Share {
    height: #{$header-desktop-height - 10px};
    padding-top: #{($header-desktop-height - 10px - $icon-desktop-height) / 2};

    &-button {
      width: $icon-desktop-height;
      height: $icon-desktop-height;
    }
  }
}