/** @define Sidebar */

.Sidebar {
  overflow: hidden;

  display: inline-block;
  height: 100%;

  background-color: $base-background;

  &-head {
    position: relative;
    display: block;
    width: 100%;

    font-family: $title-font-stack;
    font-size: 16px;
    font-weight: 700;
  }

  &-close,
  &-label {
    position: relative;
    display: inline-block;
  }

  &-close {
    margin-top: 5px;
  }

  &-label {
    height: $header-mobile-height;
    padding-left: 20px;

    line-height: $header-mobile-height;
    vertical-align: middle;
  }

  &-body {
    overflow: hidden;
    overflow-y: auto;

    display: block;
    width: 100%;
    height: calc(100% - #{$header-mobile-height});
    padding: 0 20px;
  }

  &-element {
    width: 100%;
    height: $header-mobile-height;
    padding: 12px 25px;

    color: $base-color;
    font-family: $list-font-stack;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    vertical-align: middle;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Sidebar {
    width: $sidebar-width;

    &-head {
      padding: 0;
    }

    &-close {
      display: none;
    }

    &-label {
      height: $header-desktop-height;

      line-height: $header-desktop-height;
    }

    &-body {
      height: calc(100% - #{$header-desktop-height});
    }
  }

  /* Hack for react-sidebar */
  /* stylelint-disable */
  #character-arena > :first-child > :first-child {
    transform: translate(0) !important;
  } 
}

#character-arena > :first-child > * {
  overflow: hidden !important;
} 