/** @define Sidebar */

.Sidebar {
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  z-index: order('sidebar');

  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: $sidebar-width;

  background-color: $base-background;
  transition: left $animation-duration;

  &-head {
    position: relative;
    display: block;
    width: 100%;

    font-family: $title-font-stack;
    font-size: 16px;
    font-weight: 700;
  }

  &-close,
  &-label {
    position: relative;
    display: inline-block;
  }

  &-close {
    margin-top: 5px;
  }

  &-label {
    height: $header-mobile-height;
    padding-left: 20px;

    line-height: $header-mobile-height;
    vertical-align: middle;
  }

  &-body {
    display: block;
    width: 100%;
    padding: 20px 0;
  }

  &-element {
    width: 100%;
    height: $header-mobile-height;
    padding: 12px 25px;

    color: $base-color;
    font-family: $list-font-stack;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    vertical-align: middle;
  }

  &:before {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background: $backdrop-background;
    content: "";
  }

  &.is-open {
    left: 0;

    &:before {
      display: block;
    }
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Sidebar {
    left: 0;

    width: $sidebar-width;
    height: 100%;

    &-head {
      padding: 0;
    }

    &-close {
      display: none;
    }

    &-label {
      height: $header-desktop-height;

      line-height: $header-desktop-height;
    }

    &:before {
      display: none !important;
    }
  }
}