/** @define Talents */
.Talents {

  &-tier {
    position: relative;
    display: block;

    width: 100%;
  }

  &-column {
    display: inline-block;
    width: 33%;
    height: $talent-height;
    margin: 10px 0;

    text-align: center;
    opacity: .2;

    &.is-used {
      opacity: 1;
    }

    &.is-active{
      .Talents-talentIcon {
        border-color: $green;
      }
    }

    &.is-rival {
      .Talents-talentIcon {
        border-color: $red;
      }
    }

    &.is-used.is-rival {
      .Talents-talentIcon {
        border-color: transparent;
      }
    }
  }

  &-talentIcon {
    width: $talent-height;
    height: $talent-height;
    padding: 2px;

    border-radius: 2px;
    border: 2px solid transparent;
  }
}