/** @define Comparator */

.Comparator {
  position: relative;
  clear: both;
  z-index: order('content');

  display: inline-block;
  width: 100%;
  padding: 5px;

  text-align: left;

  &--greater,
  &--lower {
    font-weight: 700;
  }

  &--greater {
    color: $green;
  }

  &--lower {
    color: $red;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Comparator {
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: 20px;
  }
}