/** @define Comparator */

.Comparator {
  position: relative;
  z-index: order('content');
  float: left;
  overflow: auto;

  display: block;
  width: 100%;
  min-height: 100%;
  padding: 5px;

  background: rgba($base-background, .5);
  text-align: left;

  &--greater,
  &--lower {
    font-weight: 700;
  }

  &--greater {
    color: $green;
  }

  &--lower {
    color: $red;
  }

  &-wrapper {
    position: relative;
    float: left;

    display: inline-block;
    min-width: 100%;
  }

  &:after {
    content: "";
    display: block;
    height: $footer-mobile-height;
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Comparator {
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: 20px;

    &:after {
      height: $footer-desktop-height;
    }
  }
}