/** @define Comparator */

.Comparator {
  position: relative;
  z-index: order('content');
  float: left;
  overflow: auto;

  display: block;
  width: 100%;
  min-height: 100%;
  padding: 10px 20px;
  margin-bottom: #{-$footer-mobile-height - 5px};

  text-align: left;

  &--greater,
  &--lower {
    font-weight: 700;
  }

  &--greater {
    color: $green !important;
  }

  &--lower {
    color: $red !important;
  }

  &-wrapper {
    position: relative;
    float: left;

    min-width: 100%;
  }

  &:after {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: $footer-mobile-height;
    content: "";
  }
}

@media screen and (min-width: breakpoint('landscape-tablet')) {
  .Comparator {
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: 20px;
    margin-bottom: -$footer-desktop-height;

    &:after {
      height: $footer-desktop-height;
    }
  }
}