@charset "utf-8";

@import
  'abstracts/functions',
  'abstracts/variables';

@import
  'base/helpers';

@import
  'containers/Comparator';

@import
  'components/inputs/Button',
  'components/inputs/Error',
  'components/inputs/Input',
  'components/inputs/Link',
  'components/inputs/Select',
  'components/App',
  'components/Character',
  'components/CharacterActions',
  'components/CharacterAttributes',
  'components/CharacterAvatar',
  'components/CharacterTalents',
  'components/Builder',
  'components/Collapsable',
  'components/Footer',
  'components/Header',
  'components/Share',
  'components/Sidebar',
  'components/Spacer';

html,
body,
body #character-arena {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;

  color: $base-color;  
  font-family: $text-font-stack;
  font-size: 14px;
}

body {
  background-color: $content-background;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;

  appearance: none;
  background: transparent;
}

.height {
  height: 100%;
}
