@charset "utf-8";

@import
  'abstracts/functions',
  'abstracts/variables';

@import
  'base/helpers';

@import
  'containers/Comparator';

@import
  'components/inputs/Button',
  'components/inputs/Error',
  'components/inputs/Input',
  'components/inputs/Select',
  'components/Avatar',
  'components/Attributes',
  'components/Character',
  'components/Collapsable',
  'components/Footer',
  'components/Header',
  'components/Link',
  'components/Spacer',
  'components/Sidebar',
  'components/Talents';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;

  color: $base-color;  
  font-family: $text-font-stack;
  font-size: 14px;
}

body {
  background-attachment: fixed;
  background-color: $base-background;
  background-image: url('https://bnetcmsus-a.akamaihd.net/cms/template_resource/73/73HV5HRS7D7C1468353649488.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;

  appearance: none;
  background: transparent;
}

.height {
  height: 100%;
}

@media screen and (min-width: breakpoint('hd')) {
  body {
    background-size: cover;
  }
}