/** @define Input */

.Input {
  position: relative;

  color: #fff;
  font-family: $text-font-stack;
  font-size: 14px;

  &,
  &-label,
  &-field {
    display: block;
    width: 100%;
  }

  &-label {
    padding: 10px 0;
  }

  &-field {
    padding: 10px;

    color: inherit;

    background: $backdrop-background;
    border: solid 1px #504137;
  }

  &.is-invalid &-field {
    border-color: $color-error;
  }
}