/** @define Select */

.Select {
  position: relative;

  color: #fff;
  font-family: $text-font-stack;
  font-size: 14px;

  &,
  &-label,
  &-field {
    display: block;
    width: 100%;
  }

  &-label {
    padding: 10px 0;
  }

  &-field {
    height: 45px;
    padding: 10px;
    padding-right: 42px;

    color: $black;
    font-family: $list-font-stack;
    font-size: 18px;
    font-weight: 700;

    background: $base-color;
  }

  &.is-invalid &-field {
    border-color: $color-error;
  }

  &-arrow {
    position: absolute;
    bottom: 14px;
    right: 14px;

    width: 18px;
    height: 18px;

    border: none;
    transition: transform $animation-duration;
    transform: rotate(-90deg);
  }

  &-field:active + &-arrow {
    transform: rotate(90deg);
  }
}