// Classes
.color--mage { color: $color-mage; }
.color--priest { color: $color-priest; }
.color--warlock { color: $color-warlock; }
.color--demon-hunter { color: $color-dh; }
.color--druid { color: $color-druid; }
.color--monk { color: $color-monk; }
.color--rogue { color: $color-rogue; }
.color--hunter { color: $color-hunter; }
.color--shaman { color: $color-shaman; }
.color--death-knight { color: $color-dk; }
.color--paladin { color: $color-paladin; }
.color--warrior { color: $color-warrior; }

// Atrributes
.color--health { color: $color-health; }
.color--energy { color: $color-energy; }
.color--focus { color: $color-focus; }
.color--fury { color: $color-fury; }
.color--insanity { color: $color-insanity; }
.color--maelstrom { color: $color-maelstrom; }
.color--mana { color: $color-mana; }
.color--pain { color: $color-pain; }
.color--rage { color: $color-rage; }
.color--runic-power { color: $color-runic-power; }

// Stats
.color--str { color: $color-str; }
.color--agi { color: $color-agi; }
.color--int { color: $color-int; }
.color--sta { color: $color-sta; }

// Enhancements
.color--crit { color: $color-crit; }
.color--haste { color: $color-haste; }
.color--mastery { color: $color-mastery; }
.color--versatility { color: $color-versatility; }

.clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

.is-greater {
  color: $green !important;
}

.is-lower {
  color: $red !important;
}

// Devices
.mobile {
  display: inline-block;
}

@media screen and (min-width: breakpoint('tablet')) {
  .mobile {
    display: none;
  }
}